repositories:
  - name: tokens-studio.github.io
    url: https://tokens-studio.github.io/helm/

templates:
  secrets:
    inherit:
      - template: basic
    chart: tokens-studio.github.io/secrets
    name: {{ list . "secrets" | tpl .Values.helpers.releaseName }}
    values:
      {{- with .Values | getOrNil "secrets" }}
      - {{ . | toYaml | trim | nindent 8 }}
      {{- end }}
    version: 1.0.0
