bases:
  - {{ list . "templates/basic.yaml.gotmpl"  | tpl .Values.helpers.getHelmcraftResourcePath }}
  - {{ list . "templates/podinfo.yaml.gotmpl"  | tpl .Values.helpers.getHelmcraftResourcePath }}

releases:
  - inherit:
      - template: podinfo
    installed: true
