bases:
  - {{ "templates/basic.yaml.gotmpl" | printf .Values.frameworkResourceLocator }}
  - {{ "templates/podinfo.yaml.gotmpl" | printf .Values.frameworkResourceLocator }}

releases:
  - inherit:
      - template: podinfo
    installed: true
