templates:
  basic:
    {{- with .Values | getOrNil "namespace" }}
    namespace: {{ . }}
    {{- end }}
    kubeContext: {{ .Values.kubeContext }}
    labels:
      {{- with .Values | getOrNil "labels" }}
      {{ . | toYaml | trim | nindent 6 }}
      {{- end }}
      context: {{ .Values.kubeContext }}
      path: {{
		exec "pwd" list | trim | trimPrefix .Values.infrastructureDirPath
		| trimAll "/"
      }}
