repositories:
  - name: external-secrets.io
    url: https://charts.external-secrets.io/

templates:
  external-secrets:
    inherit:
      - template: basic
    chart: external-secrets.io/external-secrets
    name: {{ tpl .Values.helpers.releaseName (list . "external-secrets") }}
    values:
      {{- with .Values | getOrNil "externalSecrets" }}
      - {{ . | toYaml | trim | nindent 8 }}
      {{- end }}
    version: 0.20.1
