templates:
  secrethub:
    inherit:
      - template: basic
    chart: {{ .Values.rootDirPath }}/charts/secrethub
    name: {{ tpl .Values.helpers.releaseName (list . "secrethub") }}
    values:
      {{- range .Values | getOrNil "secrethub.readFrom" }}
        {{- with . | getOrNil "dir" }}
        {{- $secretsDirPath :=
            list ($.Values | getOrNil "helmfileDirPath") . | compact | join "/"
        }}
      - secrets:
        {{- range readDir $secretsDirPath }}
          - |-
            {{ readFile . | nindent 12 }}
        {{- end }}
        {{- end }}
      {{- end }}
