{{- $helmfileNamePattern := "helmfile\\.(yaml|yaml\\.gotmpl)$" }}

{{- $rootDirPath := exec "pwd" list | trim }}
{{- $infrastructureDirPath :=
    list
      $rootDirPath
      (.Values | getOrNil "helmfileLookupDirPath" | default "infrastructure")
    | join "/"
}}
{{- $pathList := list $infrastructureDirPath }}
{{- $helmfileList := list}}
{{- $maximumFileEntries := 12345 }}
{{- range until $maximumFileEntries }}
  {{- $currentPath := first $pathList }}
  {{- $continueSearch := true}}
  {{- range $filePath := readDir $currentPath }}
    {{- if $filePath | splitList "/" | last | regexMatch $helmfileNamePattern }}
      {{- $helmfileEntry := dict "path" $filePath }}
      {{- $helmfileList = $helmfileEntry | append $helmfileList }}
      {{- $continueSearch = true }}
      {{- break }}
    {{- end }}
  {{- end }}
  {{- if $continueSearch }}
    {{- range $entry := readDirEntries $currentPath }}
      {{- if $entry.IsDir }}
        {{- $entryPath := list $currentPath $entry.Name | join "/" }}
        {{- $pathList = $entryPath | append $pathList }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- $pathList = rest $pathList }}
  {{- if empty $pathList }}
    {{- break}}
  {{- end }}
{{- end }}

{{- $valuesFileNamePattern := "^values\\.(yaml\\.gotmpl|yaml)$" }}
{{- $secretsFileNamePattern := "^secrets\\.yaml$" }}

{{- range $helmfileList }}
  {{- $path := dir .path }}
  {{- $environmentFileList := list }}
  {{- $valuesFileList := list }}
  {{- $secretsFileList := list }}
  {{- range until ($path | splitList "/" | len) }}
    {{- $dirEntries := readDirEntries $path }}
    {{- range $dirEntries }}
      {{- if and (not .IsDir) (regexMatch $valuesFileNamePattern .Name) }}
        {{- $valuesFilePath := list $path .Name | join "/" }}
        {{- $valuesFileList = $valuesFilePath | append $valuesFileList }}
        {{- break }}
      {{- end }}
    {{- end }}
    {{- range $dirEntries }}
      {{- if and (not .IsDir) (regexMatch $secretsFileNamePattern .Name) }}
        {{- $secretsFilePath := list $path .Name | join "/" }}
        {{- $secretsFileList = $secretsFilePath | append $secretsFileList }}
        {{- break }}
      {{- end }}
    {{- end }}
    {{- if (eq $path $infrastructureDirPath) }}
      {{- break }}
    {{- end }}
    {{- $path = dir $path }}
  {{- end}}
  {{- $_ := set . "values" ($valuesFileList | reverse) }}
  {{- $_ := set . "secrets" ($secretsFileList | reverse) }}
  {{- $environment := dict "name" "default" }}
  {{- range $environmentFileList }}
    {{- $environmentName := dir . | trimPrefix $infrastructureDirPath
        | trimAll "/" | replace "/" "-" }}
    {{- $environment = merge (readFile . | fromYaml)
        (dict "name" $environmentName) $environment }}
  {{- end }}
  {{- $environment := set . "environment" $environment }}
{{- end }}

helmfiles:
{{- range $helmfileList }}
  - path: {{ .path }}
    values:
      - {{ $.Values | toYaml | nindent 8 }}
      - rootDirPath: {{ $rootDirPath }}
      {{- range .secrets }}
      - {{- list "secrets" "decrypt" . | exec "helm" | trim | nindent 8 }}
      {{- end }}
      {{- with .values }}
      {{- . | toYaml | trim | nindent 6 }}
      {{- end }}
      - helmfileDirPath: {{ .path | dir }}
        infrastructureDirPath: {{ $infrastructureDirPath }}
        rootDirPath: {{ $rootDirPath }}
        templatesDirPath: {{
          list
            $rootDirPath
            ($.Values | getOrNil "templatesDirPath" | default "templates")
          | join "/"
        }}
      - helpers:
          getHelmcraftResourcePath: |-
            {{`{{- $context := index . 0 }}`}}
            {{`{{- $inputPath := index . 1 }}`}}
            {{`{{- if $context.Values | getOrNil "helmcraftResourceLocator" }}`}}
            {{`{{- printf $context.Values.helmcraftResourceLocator $inputPath }}`}}
            {{`{{- else }}`}}
            {{`{{ $inputPath }}`}}
            {{`{{- end }}`}}
          shortName: |-
            {{`{{- $length := index . 0 }}`}}
            {{`{{- $name := index . 1 }}`}}
            {{`{{- if le (len $name) $length }}`}}
              {{`{{- $name }}`}}
            {{`{{- else }}`}}
              {{`{{- $digest := $name | sha1sum }}`}}
              {{`{{-
                (list
                  ($name | trunc (sub $length 6 | int) | trimSuffix "-")
                  ($digest | trunc -5)
                  | compact | join "-"
                )
              }}`}}
            {{`{{- end }}`}}
          releaseName: |-
            {{`{{- $context := index . 0 }}`}}
            {{`{{- $name := index . 1 | toString }}`}}
            {{`{{- $nameMaxLength := 53 }}`}}
            {{`{{- $namePrefix := $context.Values | getOrNil "releaseNamePrefix" }}`}}
            {{`{{- $nameSuffix := $context.Values | getOrNil "releaseNameSuffix" }}`}}
            {{`{{- tpl $context.Values.helpers.shortName
              (list
                $nameMaxLength
                (list
                  $namePrefix $name $nameSuffix
                  | compact | join ""
                )
              )
            }}`}}
{{- end }}
