bases:
  - {{ list . "templates/basic.yaml.gotmpl" | tpl .Values.helpers.getFrameworkResourcePath }}
  - {{ list . "templates/httpbingo.yaml.gotmpl" | tpl .Values.helpers.getFrameworkResourcePath }}

releases:
  - inherit:
      - template: httpbingo
    installed: true
