bases:
  - {{ "templates/basic.yaml.gotmpl" | printf .Values.frameworkResourceLocator }}
  - {{ "templates/httpbingo.yaml.gotmpl" | printf .Values.frameworkResourceLocator }}

releases:
  - inherit:
      - template: httpbingo
    installed: true
