{{- $releaseDefinitionFileNamePattern := "^.+\\.(yaml|yaml\\.gotmpl)$" }}
{{- $nonReleaseDefinitionFileNamePattern := "^(helmfile|values)\\.(yaml|yaml\\.gotmpl)$" }}

{{- $releases := list }}
{{- $lookupDir := .Values | getOrNil "releaseLookupDirPath" | default "." }}
{{- range $path := readDir $lookupDir }}
  {{- if and
      ($path | regexMatch $releaseDefinitionFileNamePattern)
      (not ($path | regexMatch $nonReleaseDefinitionFileNamePattern)) }}
    {{- $releaseDefinition := dict }}
    {{- if eq ".gotmpl" (ext $path) }}
      {{- $releaseDefinition = tpl (readFile $path) $ | fromYaml }}
    {{- else }}
      {{- $releaseDefinition = readFile $path | fromYaml }}
    {{- end }}
    {{- $releaseName := tpl $.Values.helpers.releaseName
      (list
        $
        ($releaseDefinition | getOrNil "name"
          | default ($path | base | splitList "." | first)
        )
      )
    }}
    {{- $release := dict
        "definition" $releaseDefinition
        "name" $releaseName
        "namespace" ($releaseDefinition | getOrNil "namespace" | default ($.Values | getOrNil "namespace"))
    }}
    {{- $releases = $release | append $releases }}
  {{- end }}
{{- end }}

{{- define "releaseTemplateName" -}}
  {{- $release := index . 0 }}
  {{- $templateFilePath := index . 1 }}
  {{- list $release.name $templateFilePath | join " " }}
{{- end }}

templates:
  {{- range $release := $releases }}
  {{- if $release.definition }}
  {{- with pick $release.definition "inherit" }}
  {{- range .inherit }}
  {{- with pick . "fromFile" }}
  {{ include "releaseTemplateName" (list $release .fromFile) }}:
    {{- if eq ".gotmpl" (ext .fromFile) }}
    {{- tpl (readFile .fromFile)
      (dict
        "Release" (dict
          "Name" $release.name
          "Namespace" $release.namespace
        )
      )
      | nindent 4
    }}
    {{- else }}
    {{- readFile .fromFile | nindent 4}}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}

releases: 
  {{- range $release := $releases }}
  {{- if $release.definition }}
  - name: {{ $release.name }}
    {{- with omit $release.definition "inherit" "name" "kubeContext"}}
    {{ . | toYaml | nindent 4 }}
    {{- end }}
  {{- with pick $release.definition "inherit" }}
    inherit:
      {{- range .inherit }}
      {{- with pick . "template" }}
      - template: {{ .template }}
      {{- end }}
      {{- with pick . "fromFile" }}
      - template: {{ include "releaseTemplateName" (list $release .fromFile) }}
      {{- end }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
