bases:
  - {{ list . "templates/basic.yaml.gotmpl" | tpl .Values.helpers.getFrameworkResourcePath }}
  - {{ list . "templates/mysql.yaml.gotmpl" | tpl .Values.helpers.getFrameworkResourcePath }}

releases:
  - inherit:
      - template: mysql
    name: {{ list . "first" | tpl .Values.helpers.releaseName }}
    installed: true
