bases:
  - {{ list .Values.templatesDirPath "basic.yaml.gotmpl" | join "/" }}
  - {{ list .Values.templatesDirPath "mysql.yaml.gotmpl" | join "/" }}
  - {{ list .Values.templatesDirPath "secrets.yaml.gotmpl" | join "/" }}

releases:
  - inherit:
      - template: mysql
    name: {{ list . "first" | tpl .Values.helpers.releaseName }}
    installed: true
