bases:
  - {{ list .Values.templatesDirPath "basic.yaml.gotmpl" | join "/" }}
  - {{ list .Values.templatesDirPath "kubernetes-dashboard.yaml.gotmpl" | join "/" }}

releases:
  - inherit:
      - template: kubernetes-dashboard
    installed: true
