bases:
  - {{ list . "templates/basic.yaml.gotmpl"  | tpl .Values.helpers.getFrameworkResourcePath }}
  - {{ list . "templates/kubernetes-dashboard.yaml.gotmpl"  | tpl .Values.helpers.getFrameworkResourcePath }}

releases:
  - inherit:
      - template: kubernetes-dashboard
    installed: true
